/*
!.gitignore

!onedrive/
onedrive/*
onedrive/config

!alacritty/
alacritty/*
!alacritty/alacritty.yml

!mpv/
mpv/*
!mpv/mpv.conf

!mpd/
mpd/*
!mpd/mpd.conf

!ncmpcpp/
ncmpcpp/*
!ncmpcpp/config

!rofi/
rofi/*
!rofi/config.rasi
!rofi/mine.rasi

!dunst/
dunst/*
!dunst/dunstrc
